<launch>

<!-- include the launch file of the desired camera-->
<include file="$(find tracker_cameras)/launch/default_usb_camera.launch"/>

<rosparam command="load" file="$(find pinot_tracker_nodes)/config/parameters.yaml"/>

<!-- uncomment to use the medium version-->
 <node name="tracker" pkg="pinot_tracker_nodes" type="tracker_2d_gpu" output="screen">
  <remap from="/tracker_input/rgb" to="/image_raw" />
  <remap from="/tracker_input/rgb/compressed" to="/image_raw/compressed" />
  <remap from="/tracker_input/camera_info" to="/camera_info" />
  </node>
  
</launch>
