<launch>

<rosparam command="load" file="$(find fato_tracker_nodes)/config/tracker_parameters.yaml"/>
<param name="pinot/offline/default_path" value="$(find pinot_tracker_tests)/data/"/>

<!-- uncomment to use the medium version-->
 <node name="tracker" pkg="pinot_tracker_nodes" type="tracker_node_offline" output="screen">
 </node>
  
</launch>
